* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    background: #020A18;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.top {
    padding-bottom: 99px;
}

.header {
    padding: 39px;
    margin-bottom: 39px;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: rgba(255, 255, 255, 0.02);
}

.header__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
    display: flex;
    justify-content: center;
    gap: 128px;
}

.top__info {
    display: flex;
    flex-direction: column;
    max-width: 604px;
}

.subtitle {
    margin-bottom: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
}

.title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
}

.text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
}

.top__buttons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.button {
    display: flex;
    align-items: center;
    border: none;
    background: #3A68B8;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    padding: 15px 30px;
    text-transform: capitalize;
    color: #fff;
}

.button__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.top__logos {
    display: flex;
    justify-content: center;
    gap: 72px;
}

.content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 243px;
}

.item {
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item__big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
}

.item__text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}

.content__before__footer {
    padding-bottom: 221px;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about__content__before__footer {
    margin-top: 14px;
    padding-bottom: 14px;
}

.mini__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.text__content__before__footer {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 20px;
    margin-right: 113px;
}

.lowest__text {
    margin-bottom: 14px;
}

.footer {
    background-color: rgba(255, 255, 255, 0.02);
}

.content__footer {
    display: grid;
    grid-template-columns: repeat(3, 262px);
    gap: 30px;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 46px;
    font-family: 'Roboto';
}

.footer__info {
    max-width: 362px;
}

.mini__subtitle {
    padding-bottom: 33px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.paragraphs__footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.contacts {
    display: flex;
    gap: 9px;
}

.footer__about__middle {
    max-width: 362px;
}

.text__middle__content__footer {
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer__about__last {
    max-width: 362px;
}

.contacts__links__icons {
    display: flex;
    gap: 24px;
}

@media (max-width: 1024px) {
    .top__content {
        flex-wrap: wrap;
    }
    .center {
        padding-left: calc(50% - 504px);
        padding-right: calc(50% - 504px);
    }
    .subtitle {
        font-size: 16px;
    }
    .title {
        font-size: 48px;
    }
    .top__logos {
        max-width: 680px;
        gap: 32px;
        margin: auto;
        flex-wrap: wrap
    }
    .top {
        padding-bottom: 120px;
    }
    .content {
        grid-template-columns: repeat(1, 362px);
        gap: 32px;
    }
    .item__big {
        grid-column: span 1;
        grid-row: span 1;
        gap: 30px;
    }
    .item__big img {
        width: 98px;
    }
    .content__before__footer {
        display: flex;
        flex-direction: column;
        gap: 64px;
        flex-wrap: wrap;
        padding-left: 110px;
        padding-right: 110px;
    }
    .content__footer {
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(2, 2fr);
        padding-bottom: 48px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 375px) {
    .top {
        padding-bottom: 108px;
    }
    .header {
        padding-top: 22px;
        padding-bottom: 22px;
        gap: 16px;
    }
    .center {
        padding-left: calc(50% - 179.5px);
        padding-right: calc(50% - 179.5px);
    }
    .header {
        margin-bottom: 64px;
    }
    .header__link {
        font-size: 14px;
    }
    .top__content {
        margin-top: 0;
    }
    .top__info {
        max-width: 359px;
        text-align: center;
    }
    .subtitle {
        margin-bottom: 16px;
        font-size: 14px;
    }
    .title {
        font-size: 28px;
        margin-bottom: 64px;
    }
    .top__buttons {
        margin-top: 39px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .top__content__image {
        max-width: 359px;
    }
    .content {
        padding-top: 0px;
        padding-bottom: 96px;
    }
    .content__before__footer {
        gap: 32px;
        padding-bottom: 96px;
    }
    .about__content__before__footer {
        max-width: 359px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 0px;
    }
    .mini__title {
        font-size: 24px;
        margin-bottom: 0px;
    }
    .text__content__before__footer {
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .content__image {
        max-width: 359px;
    }
    .content__footer {
        display: flex;
        text-align: center;
        padding-bottom: 64px;
        padding-left: 18px;
        padding-right: 16px;
        flex-direction: column;
        gap: 32px;
    }
    .footer__about__middle {
        order: -1;
    }
    .text__middle__content__footer {
        text-align: left;
    }
    .mini__subtitle {
        padding-bottom: 32px;
    }
    .contacts__links__icons {
        justify-content: center;
    }
}