* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    background: #020A18;
}

.top {
    margin: 0 auto;
}

.header {
    padding: 39px 0;
    margin-bottom: 39px;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: rgba(255, 255, 255, 0.02);
}

.header__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
    display: flex;
}

.subtitle {
    margin-bottom: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    width: 265px;
    height: 29px;
    left: 387px;
    top: 260px;
    color: #3A68B8;
}

.title {
    margin-bottom: 40px;
    width: 604px;
    height: 142px;
    left: 387px;
    top: 299px;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
}

.text {
    width: 558px;
    height: 87px;
    left: 387px;
    top: 481px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
}

.top__buttons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.button {
    display: flex;
    align-items: center;
    border: none;
    background: #3A68B8;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    padding: 15px 30px;
    text-transform: capitalize;
    color: #fff;
}

.top__logos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 99px;
}

.content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 243px;
}

.item {
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item__big {
    grid-column: span 2;
    grid-row: span 2;
    display: grid;
    justify-items: center;
    gap: 60px;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
}

.item__text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}

.content__before__footer {
    padding-bottom: 221px;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about__content__before__footer {
    margin-top: 14px;
    padding-bottom: 14px;
}

.mini__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.text__content__before__footer {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 20px;
    margin-right: 113px;
}

.lowest__text {
    margin-bottom: 14px;
}

.footer {
    background-color: rgba(255, 255, 255, 0.02);
}

.content__footer {
    display: grid;
    grid-template-columns: repeat(3, 262px);
    gap: 30px;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 46px;
    font-family: 'Roboto';
}

.mini__subtitle {
    padding-bottom: 33px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.paragraphs__footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.contacts {
    display: flex;
    gap: 9px;
}

.text__middle__content__footer {
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.6;
}

.contacts__links__icons {
    display: flex;
    gap: 24px;
}