* {
    padding: 0;
    margin: 0;
}

.top {
    padding-bottom: 96px;
}

.top__header {
    padding-top: 51px;
    padding-bottom: 96px;
}

.top__content {
    margin-top: 164px;
    margin-bottom: 162px;
}

.top__content__title {
    margin-bottom: 17px;
}

.top__content__buttons {
    margin-top: 37px;
}